<html ng-app="applicationKPP">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type='text/javascript' src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script>
        var applicationKPP = angular.module('applicationKPP', []);
    </script>
    <script src="controller_v_first.js"></script>
    <script src="controller_v_second.js"></script>
    <style>
        .danger {
            color: darkred
        }

        .warning {
            color: darkorange
        }

        .ok {
            color: darkgreen
        }

        .old {
            color: gray
        }
    </style>
</head>
<body>
<div ng-controller="controllerVFirst as vm">
    <h2>КПП — {{vm.version}}</h2>
    <button data-ng-click="vm.start()">start scan</button>
    <button data-ng-click="vm.stop()">stop scan</button>
    <br>
    Current scan room id: <input type="number" data-ng-model="vm.currentRoomId"><br>
    Min scan room id: <input type="number" ng-model="vm.minRoomId"> (Block <input type="checkbox"
                                                                                  ng-model="vm.minIsBlocked">)<br>
    Max scan room id: <input type="number" ng-model="vm.maxRoomId"> (Block <input type="checkbox"
                                                                                  ng-model="vm.maxIsBlocked">)<br>
    Only not started room: <input type="checkbox" data-ng-model="vm.search_only_not_started"><br>
    <!--    Threads: <input type="number" data-ng-model="todoList.threads"><br>
        Rooms in thread: <input type="number" data-ng-model="todoList.range"><br>-->
    Rooms found:<br>
    <table>
        <tr ng-repeat="roomId in vm.rooms">
            <td>{{ roomId }}</td>
        </tr>
    </table>
</div>

<div data-ng-controller="controllerVSecond as vm">
    <h2>КПП — {{vm.version}}</h2>

    <h3>Search new Room</h3>
    <button data-ng-click="vm.startSearch()">Start scan</button>
    <button data-ng-click="vm.stop()">Stop scan</button>
    <br>
    Last room ID: <input type="number" data-ng-model="vm.lastRoomId"> Autorefresh: <input
        type="checkbox" data-ng-model="vm.autoRefresh">
    <br>
    Autoupdate while players < <input type="number" data-ng-model="vm.maxPlayers">

    <br>
    <hr>
    Results:
    <div style="width: 100%">
        <div style="width: 50%; float: left">
            <table>
                <tr data-ng-repeat="room in vm.newRooms"
                    data-ng-class="{danger: room.status == 0, warning: room.status == 1, ok: room.status == 2, old: room.status == 3}">
                    <td>{{room.id}}</td>
                    <td>
                        <img data-ng-if="room.status == 0" src="ajax-loader.gif">
                    <span data-ng-if="room.status != 0"><strong> {{room.players}}</strong></span>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 50%; float: right">
            ROOMS TO JOIN!
            <table>
                <tr data-ng-repeat="roomId in vm.foundedRooms">
                    <td>{{roomId}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
