<html data-ng-app="applicationKPP">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type='text/javascript' src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script>
        var applicationKPP = angular.module('applicationKPP', []);

        applicationKPP.service('ServiceSoundAlarm', function () {
            this.playSound = function () {
                var alert = new Audio('alert.mp3');
                alert.play();
            };
        });
    </script>
    <script src="controller_v_first.js"></script>
    <script src="controller_v_second.js"></script>
    <style>
        .danger {
            color: darkred
        }

        .warning {
            color: darkorange
        }

        .ok {
            color: darkgreen
        }

        .old {
            color: gray
        }
    </style>
</head>
<body>
<div data-ng-controller="controllerVFirst as vm">
    <h2>КПП — {{vm.version}}</h2> (<label>DEBUG MODE <input type="checkbox" data-ng-model="vm.debug"></label>)<br>
    <button data-ng-click="vm.start()">start scan</button>
    <button data-ng-click="vm.stop()">stop scan</button>
    <br>
    <label>Min scan room id: <input type="number" data-ng-model="vm.startRoomId"></label><br>
    <label>Last scan room id: <input type="number" data-ng-model="vm.roomLastId"></label><br>
    <label>Ignore player count: <input type="number" data-ng-model="vm.ignoreCountPlayers"></label><br>
    <label>Only not started room: <input type="checkbox" data-ng-model="vm.ignoreStartedRoom"></label><br>

    FOUND!!!!:<br>
    <table>
        <tr data-ng-repeat="room in vm.roomsScanning" data-ng-if="room.founded">
            <td>{{ room.id }} ({{ room.players }}) [<span data-ng-repeat="accountId in room.accounts_found">{{ accountId }}&nbsp;</span>]
            </td>
        </tr>
    </table>

    Scaning...:<br>
    <table>
        <tr data-ng-repeat="room in vm.roomsScanning" data-ng-if="!room.disabled">
            <td>{{ room.id }} ({{ room.players }})</td>
        </tr>
    </table>
</div>

<div data-ng-controller="controllerVSecond as vm">
    <h2>КПП — {{vm.version}}</h2>

    <H3>Stalking</H3>
    <label>Room ID: <input type="number" data-ng-model="vm.stalkRoom"></label>
    <button data-ng-click="vm.stalk()">PRESS ME!</button>

    <h3>Search new Room</h3>
    <button data-ng-click="vm.startSearch()">Start scan</button>
    <button data-ng-click="vm.stop()">Stop scan</button>
    <br>
    <label>Last room ID: <input type="number" data-ng-model="vm.lastRoomId"></label><br>
    <label>Autoupdate while players < <input type="number" data-ng-model="vm.maxPlayers"></label><br>
    <label>Autorefresh: <input type="checkbox" data-ng-model="vm.autoRefresh"></label> <label>Refresh timeout (ms):
    <input type="number" data-ng-model="vm.refreshTimeout"></label>

    <br>
    <hr>
    Results:
    <div style="width: 100%">
        <div style="width: 50%; float: left">
            <table>
                <tr data-ng-repeat="room in vm.newRooms"
                    data-ng-class="{danger: room.status == 0, warning: room.status == 1, ok: room.status == 2, old: room.status == 3}">
                    <td>{{room.id}}</td>
                    <td>
                        <img data-ng-if="room.status == 0" src="ajax-loader.gif">
                        <span data-ng-if="room.status != 0"><strong> {{room.players}}</strong></span>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 50%; float: right">
            ROOMS TO JOIN!
            <table>
                <tr data-ng-repeat="roomId in vm.foundedRooms">
                    <td>{{roomId}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
