<html ng-app="todoApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type='text/javascript' src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="todo.js"></script>
    <style>
        .danger {
            color: darkred
        }

        .warning {
            color: darkorange
        }

        .ok {
            color: darkgreen
        }

        .old {
            color: gray
        }
    </style>
</head>
<body>
<div ng-controller="TodoListController as todoList">
    <button ng-click="todoList.start()">start scan</button>
    <button ng-click="todoList.stop()">stop scan</button>
    <br>
    Current scan room id: <input type="number" ng-model="todoList.currentRoomId"><br>
    Min scan room id: <input type="number" ng-model="todoList.minRoomId"> (Block <input type="checkbox"
                                                                                        ng-model="todoList.minIsBlocked">)<br>
    Max scan room id: <input type="number" ng-model="todoList.maxRoomId"> (Block <input type="checkbox"
                                                                                        ng-model="todoList.maxIsBlocked">)<br>
    Only not started room: <input type="checkbox" ng-model="todoList.search_only_not_started"><br>
    <!--    Threads: <input type="number" data-ng-model="todoList.threads"><br>
        Rooms in thread: <input type="number" data-ng-model="todoList.range"><br>-->
    Rooms found:<br>
    <table>
        <tr ng-repeat="roomId in todoList.rooms">
            <td>{{ roomId }}</td>
        </tr>
    </table>
    <hr>
    <h3>Search new Room</h3>
    <button data-ng-click="todoList.startSearch()">Start scan</button><br>
    Last room ID: <input type="number" data-ng-model="todoList.lastRoomId"><br>
    Autoupdate while players < <input type="number" data-ng-model="todoList.maxPlayers">

    <br>
    Results:
    <table>
        <tr data-ng-repeat="room in todoList.newRooms"
            data-ng-class="{danger: room.status == 0, warning: room.status == 1, ok: room.status == 2, old: room.status == 3}">
            <td>{{room.id}}</td>
            <td>
                <img data-ng-if="room.status == 0" src="ajax-loader.gif">
                <span data-ng-if="room.status != 0"><strong> {{room.players}} ({{room.activePlayers}})</strong></span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
